%p= link_to 'New Event', new_event_path
%ol
  - for event in @events
    %li== #{link_to h(event.summary), edit_event_path(event)} from #{event.starts_at.to_s(:at)} on #{event.starts_at.to_s(:mdy)} until #{event.ends_at.to_s(:at)} on #{event.ends_at.to_s(:mdy)}